body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.masterkey{
    background-color:#AFE1AF ;
    height: 40vh;
    width: 400px;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    
    border-radius: 40px;
}
.key{
    /* width: 150px; */
    background-color:#E4D00A ;
    border-radius: 30px;
}
.change{
    font-size: 50px;
    background-color: transparent;

}